body{
    background-image: cover;
    background-position: center;
}

.heading
{
font-size: 25px;
width: 39%;
margin: 0px;
box-shadow: 5px 5px 5px pink ;
border-radius: 10px;
}

.link
{
font-size: 18px;
width:25%;
box-sizing: 50px;
}

.link:hover{
    font-size: 25px;
    background-color: black;
}

canvas{
   border-radius: 10px;
   box-shadow: 5px 5px 5px greenyellow;
   margin-top: 100px;
}

#back{
    margin-left: 1050px;
    width: 100px;
    border-radius: 10px;
}

